.vscode/**
.vscode-test/**
.git/**
.github/**
.gitignore
.gitattributes
**/*.ts
**/*.map
.eslintrc.json
tsconfig.json
vite.config.ts
**/*.md
!README.md
!LICENSE
!out/core/prompts/*.md
!templates/**
src/**
scripts/**
tests/**
*.vsix
.editorconfig
.prettierrc
.prettierignore
webpack.config.js
.eslintignore
*.log
.DS_Store
media/grammars/**/*.ts
webview-src/**
.claude/**
